<html lang="en">
<head>
  <title>Currency Converter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div>
    <form action="/date" method="GET">
      <input type="submit" value="RED" name="val"/><br/>
      <input type="submit" value="GREEN" name="val"/><br/>
      <input type="submit" value="YELLOW" name="val"/><br/>
      <input type="submit" value="BLUE" name="val"/>
    </form>
</body>
</html>